@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Merienda+One&family=Roboto+Mono&display=swap');

.pageBody {
    background-color: #37474f;
    padding: 25px;
    max-width: 1024px;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav h1 {
    color: #FFA000;
    font-family: 'Fira Sans', sans-serif;
}

header nav ul {
    padding: 0;
    display: flex;
    align-items: center;
}

header nav li {
    display: inline;
    margin-inline-start: 1rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: #FFA000;
}

header nav li a {
    text-decoration: none;
    color: var(--primary);
}
.mainSection {
    display: flex;
}

.greeting {
    font-size: 3rem;
    color: #FFA000;
    font-family: 'Fira Sans', sans-serif;

}

.mainText {
    color: #FFA000;
    font-family: 'Fira Sans', sans-serif;
}

.mainImage {
    width: 320px;
    margin-inline-end: 4rem;
}

.gitLink{
    text-decoration: none;
    color: #37474f;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    background-color: #FFA000;
    padding: 0 1rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    border-radius: 1.25rem;
}

.gitLink:hover{
    scale: 1.1;
}

hr {
    height: 1px;
    background-color: #FFA000;
    border: none;
}


article {
    display: flex;
}

@media (max-width:1024px) {
    .mainSection {
        flex-direction: column;
    }
    article {
        display: column;
    }
    .articleImage {
        width: 100%;
    }
    
}

.toggle {
    --width: 80px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    border-radius: var(--height);
    cursor: pointer;
}

.toggle input {
    display: none;
}

.toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    border: 2px solid #969696;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
    content: "";
    position: absolute;
    top: 2.5px;
    left: 2px;
    width: calc(var(--height)*0.6);
    height: calc(var(--height)*0.6);
    border-radius: calc(var(--height) / 2);
    border: 3px solid #FFA000;
    background-color: #dbdbdb;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked+.slider {
    border-color: #FFA000;
}

.toggle input:checked+.slider::before {
    border-color: #FFA000;
    background-color: #c6e5ff;
    transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFA000;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 5px;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 5px;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
    opacity: 0;
}

.toggle input:checked~.labels::before {
    opacity: 1;
}